
#logo  {
    width: 250px;
    height: 250px;
    justify-content: flex-end;
    
}

nav ul { 
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: #d9d9d9;
    cursor: pointer;
    font-size: 20px;
    }

nav ul :hover {background-color: rgb(12, 111, 78);}

nav li {
    margin: 10px;
    }

nav a {
    text-decoration: none;
    color: rgb(6, 54, 12);
    font-family: arial;
}

body {
    background-color: #d9d9d9;
    line-height: 1.7;
}


#cabeza2 { text-align: center;
           font-family: arial;
           color: rgb(12, 111, 78);
        }

#textoprincipal {
     text-align: justify;
     margin-top: 0%;
     margin-left: 20%;
     margin-bottom: 5%;
     margin-right: 20%;
     font-size: large;
     font-family: arial;

}

p { 
    border: 3px green solid;
    padding: 3px;
    
    }

#bici1 {  
    width: 20;
    height: 40;
    justify-content: center;
    float: right;
}

h2 {
     border: 3px rgb(5, 103, 6) solid;
     width: 180;
     height: 150;
     }
     
.contenedor {
        width: 35%;
        margin: 0 auto;
     }

.card img { 
       margin-top: 0px;
       margin-left: 500px;
       margin-right: 500px;
       margin-bottom: 0px;
       justify-content: center;
       align-items: center;
       width: 500px;
       height: 700px;
    }

.contact {
    background-color:  rgb(12, 111, 78);
    color: white;
    padding: 15px 30px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease; 
    justify-content: center;
}

.contact :hover {
    background-color: rgb(9, 68, 37);}
    


    
   


